// Colors
$color-white: #fff;
$color-black: #000;
$color-green: #1AD46A;
$color-red: #FF5A64;
$color-blue: #44AAFC;
$color-gray: #A9C2D1;

// Sizes
$tablet: 768px;
$large: 1024px;
$desktop: 1280px;


// Animation
$transition-base: all 0.25s ease-out;