extends layout/main

block variables
	-var title = 'Сеть Кохонена'

block content

	.main
		.main__container.container
			h2
				| Пример работы сети Кохонена
			table.visual
				thead
				tr.title-row
					//- th.title Area
					//- th.title 2016 
					//- th.title 2017 
					//- th.title 2018 
					//- th.title 2019   
				tbody
			button.button(onclick="learn(1)") 
				| Обучить
			div.network-answers