body {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 5%;
  box-sizing: border-box;
}

button {
  width: 100px;
  height: 33px;
}

.visual {
  background-color: #212121;
  border-collapse: collapse;
}

.visual td {
  border: 1px outset white;
  text-align: center;
}

.visual tr td:first-child {
  text-align: left;
  padding-left: 1%;
  box-sizing: border-box;
}

.visual .title-row {
  background: #eeeeee;
  color: black;
  font-weight: bold;
}

.green {
  background-color: green;
}

.lightGreen {
  background-color: #90ee90;
}

.red {
  background-color: red;
}

.snow {
  background-color: snow;
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.maroon {
  background-color: maroon;
}