@import "helpers/vars";
@import "helpers/mixins";
@import "helpers/fonts";
@import "helpers/sprite";

html {
	font-family: 'Tahoma', Arial, serif;
	font-size: 16px;
	height: 100%;
}

body {
	height: 100%;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: $color-white;
}

body {
	background: rgba(35, 52, 86, 0.75);
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.is-hidden {
	display: none !important;
}

.is-visible {
	display: flex !important;
	z-index: 10;
}
  
.visual {
	margin-bottom: 40px;
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0px 2px 4px rgba(169, 194, 209, 0.04), 0px 12px 16px rgba(169, 194, 209, 0.1);
	border-radius: 6px;

	.title-row {
		th {
			border-color: $color-black;

			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				border: 1px dashed $color-gray;
			}
		}
		th:first-child {
			border-radius: 6px 0 0 0;
		}

		th:last-child {
			border-radius: 0 6px 0 0;
		}
		height: 60px;
	}

	tr {
		&:last-child td:first-child {
			border-radius: 0 0 0 6px;
		}
		&:last-child td:last-child {
			border-radius: 0 0 6px 0;
		}
	}

	td {
		padding: 10px;
	}
}

.visual td {
	border: 1px dashed white;
	text-align: center;
}

.visual tr td:first-child {
	text-align: left;
	padding-left: 1%;
	box-sizing: border-box;
}

.visual .title-row {
	background: $color-white;
	color: black;
	font-weight: bold;
}

.green {
	background-color: $color-green;
}

.lightGreen {
	background-color: #90ee90;
}

.red {
	background-color: $color-red;
}

.snow {
	background-color: snow;
	color: black;
}

.yellow {
	background-color: $color-gray;
	color: black;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}

.maroon {
	background-color: #F17872;
}

.button {
	margin: 30px auto;
	padding: 10px 30px;
	background: $color-blue;
	border: 0;
	outline: none;
	color: $color-white;
	border-radius: 6px;
	cursor: pointer;
	transition: $transition-base;

	&:hover {
		background: rgba($color-green, 0.75);
	}
}

h2 {
	margin-top: 30px;
}

.controls {
	display: flex;
	justify-content: center;
}

.network-answers {
	margin-bottom: 40px;
}

.terminal {
	margin-top: 30px;
	padding: 10px;
	width: 100%;

	background: rgba($color-black, 0.5);
	border-radius: 6px;

}

#logger {
	padding-right: 20px;
	margin: 10px;
	min-height: 300px;
	max-height: 300px;
	overflow-y: scroll;
}